<div class="login-container">
    <div class="login-card">
        <div class="form-side">
            <h2>RECUPERE SU CONTRASEÑA</h2>   
            @{
                if (ViewBag.RecupereContra == null)
                {
                    <p>Por favor ingrese su mail y DNI</p>
                    <p class="error-message">@ViewBag.mensajeError</p>
            
            <form method="post" action='@Url.Action("OlvideContraseña", "Account")'>
                <label for="dni">DNI:</label>
                <input type="text" id="dni" name="dni" placeholder="Ingrese su DNI">
                
                <label for="mail">Email:</label>
                <input type="text" id="mail" name="mail" placeholder="tucorreo@dominio.com">
                
                <button type="submit">Enviar</button>
            </form>
                }
            }

            @if (ViewBag.RecupereContra != null)
            {
            <p>@ViewBag.RecupereContra</p>
            
            <form method="post" action='@Url.Action("VerificarNuevaContraseña", "Account")'>
                <label for="contraseña">Nueva Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" onkeyup="VerificarContraseña()" placeholder="********">
                
                <div id="Mas8">Debe contener más de 8 caracteres</div>
                <div id="Mayusculas">Debe contener al menos 1 mayúscula</div>
                <div id="Especiales">Debe contener al menos 1 carácter especial</div>
                
                <input type="hidden" name="dni" value="@ViewBag.dni">
                
                <button type="submit">Actualizar Contraseña</button>
            </form>
            }

            @if (ViewBag.ContraActualizada != null)
            {
                <p>@ViewBag.ContraActualizada</p>
                <a href='@Url.Action("IniciarSesion", "Account")'>Iniciá Sesión</a>
            }

            @if (ViewBag.ContraNoActualizada != null)
            {
                <p>@ViewBag.ContraNoActualizada</p>
                <a href='@Url.Action("VerificarNuevaContraseña", "Account")'>Reintentar</a>
            }
        </div>
    </div>
</div>