@{
    ViewData["Title"] = "Index";
}


<p>Recomendaciones del día </p>
@foreach(Establecimiento item in ViewBag.listaEstablecimientos)
{
    //AGREGAR item.FOTO (BASE DE DATOS)
      <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">@item.nombre</h5>
      <p class="card-text">@item.direccion</p>
      <a href='@Url.Action("VerEstablecimiento","Home", new{idEstablecimiento = @item.id_lugar})' class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
}

<p>Restricciones</p>
@foreach(Restricciones item in  ViewBag.listaRestricciones)
{
  //AGREGAR item.FOTO (BASE DE DATOS)
      <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">@item.nombre</h5>
      <a href='@Url.Action("VerLugaresXRestriccion","Home", new{idRestriccion = @item.id_restriccion})' class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
}

<p>Mejores Calificados </p>
@foreach(Establecimiento item in ViewBag.listaMejoresCalificados){
  //AGREGAR item.FOTO (BASE DE DATOS)
      <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">@item.nombre</h5>
      <p class="card-text">@item.direccion</p>
      <a href='@Url.Action("lugaresMejoresCalifiados","Home", new{idEstablecimiento = @item.id_lugar})' class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
}
<div>
    <a href='@Url.Action("Registrarse","Account")'>Registrarse </a>
</div>
